html {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}

.App {
  text-align: center;
  height: 2500px;
  position: relative;
}

.App-header {
  background-color: #c6c6c6;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #393939;
}

.App-topheader {
  background-color: #393939;
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: calc(10px + 2vmin);
  color: #c6c6c6;
  height: 150px;
  text-align: center;
  height: 100px;
  padding: 1px 0px 19px 0px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #c6c6c6;
}

.search-bar {
  height: 30px;
  width: 170px;
  align-self: center;
  margin-bottom: -19px;
  border: 1px solid #c6c6c6;
  border-radius: 15px;
  position: absolute;
  left: 25px;
}

.App-sideheader {
  background-color: #393939;
  width: 200px; 
  position: fixed; 
  margin-left: 0;
  z-index: 15;
  font-size: calc(10px + 2vmin);
  color: #c6c6c6;
  font-family: 'Noto Sans', sans-serif;
  height: 100%;
  text-align: center;
}

h2 {
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
}

p {
  font-size: 1rem;
  font-weight: 300;
  max-width: 150px;
  padding-left: 12.5%;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}